#copyright {
    height: 40px;
    padding-top: 22px;
    background-color: #007bff;
}

.cr h2 {
    text-align: center;
    font-size: 15px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.cr h2 a {
    color: white;
    border-bottom: 1px solid white;
}